<div class="container">
   <button type="button" (click)="bookmark()" class="bookmark">Bookmark</button>
    <table *ngIf="news" class="table table-striped" bgcolor="#f6f6ef" style="border-collapse: inherit; margin-top: 10px;"  cellspacing="0">
      <thead>
          <tr bgcolor="#ff6600">
            <th>Comments</th>
            <th>Vote Count</th>
            <th>Upvote</th>
            <th>News Details</th>
            
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feed of news; let i = index">
          <td>{{ feed.num_comments}}</td>
          <td>{{ feed.points }}</td>
          <td><a [routerLink]="" id="vote" (click)="castVote(i)"><img src="/assets/icons/arrow.svg" alt="image" height="10"></a></td>
          <td class="title">{{ feed.title }}
             <span class="subtext">(<a class="subtext" href='{{feed.url}}'>{{feed.url | strip:[20]}}</a>) by </span> 
            <span>{{feed.author}}</span> 
            <span class="subtext"> {{feed.created_at | date}} [</span>  
            <span class="subtext"><a class="subtext2" [routerLink]="" (click)="removeItem(i)">Hide</a></span>
            <span class="subtext">]</span>
         </td>
        </tr>
       
      </tbody>
      
    

      
         
  
      <div class="flex">
         <span class="prev" *ngIf="currentPage>0"><a class="link" id="prev" [routerLink]="" (click)="prevData()">Previous | </a></span>
         <span class="next"><a class="link" id="next" [routerLink]="" (click)="nextData()"> Next</a></span>
      </div>
</table>

<table class="table table-striped" bgcolor="#f6f6ef" width="85%" height="20%" style="margin-top: 30px;">
   <div class="chart-wrapper">
      <canvas baseChart 
          [datasets]="lineChartData" 
          [labels]="lineChartLabels" 
          [options]="lineChartOptions"
          [colors]="lineChartColors" 
          [legend]="lineChartLegend" 
          [chartType]="lineChartType" 
          [plugins]="lineChartPlugins"
          >
      </canvas>
   </div>
</table>
  </div>
  
  <!-- <div *ngIf="chart">
   <canvas id="canvas">{{ chart }}</canvas>
 </div> -->

